# Statistical Learning Project 1

Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

 

You are required to do the following:

    Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (3 points)
    Print all the teams which have started playing between 1930-1980. (5 points)
    Print the list of teams which came Top 5 in terms of points (3 points)
    Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (7 points)

Goal_diff_count = GoalsFor - GoalsAgainst

    Create a new column with name “Winning Percent” and append it to the data set (6 points)

Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

    Group teams based on their “Best position” and print the sum of their points for all positions (6 points)

Eg: Best Position                Points

        1                              25000

        2                              7000

In [1]:
#Import all relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

#read csv into df
file_path = "C:/MDS/Trainings/Great lakes/External Lab/16Dec18/Laliga.csv"
teams = pd.read_csv(file_path)

In [2]:
teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [3]:
#replace - with 0
teams = teams.replace(to_replace='-',value=0)

In [4]:
#all the teams which have started playing between 1930-1980
teams.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [5]:
# Convert all number columns from object to int64
teams[["Pos",
      "Seasons",
      "Points",
      "GamesPlayed",
      "GamesWon",
      "GamesDrawn",
      "GamesLost",
      "GoalsFor",
      "GoalsAgainst",
      "Champion",
      "Runner-up",
      "Third",
      "Fourth",
      "Fifth",
      "Sixth",
      "T",
      "BestPosition"]] =            teams[["Pos",
                                            "Seasons",
                                            "Points",
                                            "GamesPlayed",
                                            "GamesWon",
                                            "GamesDrawn",
                                            "GamesLost",
                                            "GoalsFor",
                                            "GoalsAgainst",
                                            "Champion",
                                            "Runner-up",
                                            "Third",
                                            "Fourth",
                                            "Fifth",
                                            "Sixth",
                                            "T",
                                            "BestPosition"]].apply(pd.to_numeric)

In [6]:
teams.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner-up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
T                 int64
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [7]:
# Get debut start by substring
teams["Debut_Start"] = teams["Debut"].str.extract('(....)',expand=True)
teams["Debut_Start"] = pd.to_numeric(teams["Debut_Start"])

In [8]:
# Get debut end by substring
teams["Debut_End"] = teams["Debut"].str.slice(5,7)
teams["Debut_End"] = pd.to_numeric(teams["Debut_End"],downcast='integer')

In [9]:
teams.dtypes

Pos                int64
Team              object
Seasons            int64
Points             int64
GamesPlayed        int64
GamesWon           int64
GamesDrawn         int64
GamesLost          int64
GoalsFor           int64
GoalsAgainst       int64
Champion           int64
Runner-up          int64
Third              int64
Fourth             int64
Fifth              int64
Sixth              int64
T                  int64
Debut             object
Since/LastApp     object
BestPosition       int64
Debut_Start        int64
Debut_End        float64
dtype: object

In [10]:
# Store Y for Debut between 1930 and 1980, esle N in Debut 1930-80 column
teams["Debut 1930-80"] = np.where((((teams["Debut_Start"] >= 1930) & (teams["Debut_End"] >= 30))&((teams["Debut_Start"] <= 1980) & (teams["Debut_End"] <= 80))),"Y","N")

In [11]:
teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End,Debut 1930-80
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,NaN,N
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,NaN,N
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,1929,NaN,N
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,32.0,Y
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,NaN,N
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934-35,2001-02,1,1934,35.0,Y
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,2,5,16,1929,1994-95,3,1929,NaN,N
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,5,4,3,19,1929,2010-11,1,1929,NaN,N
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939-40,2012-13,2,1939,40.0,Y
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932-33,2015-16,1,1932,33.0,Y
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941-42,2014-15,1,1941,42.0,Y
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939-40,2012-13,4,1939,40.0,Y
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948-49,2013-14,4,1948,49.0,Y
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,2,0,1,5,1929,2011-12,2,1929,NaN,N
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944-45,2015-16,2,1944,45.0,Y
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935-36,2016-17,4,1935,36.0,Y
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949-50,2008-09,4,1949,50.0,Y
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933-34,2000-01,3,1933,34.0,Y
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960-61,2012-13,3,1960,61.0,Y
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951-52,2015-16,2,1951,52.0,Y
20,21,Villarreal,17,970,646,266,172,208,892,789,...,2,3,2,9,1998-99,2013-14,2,1998,99.0,N
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941-42,2016-17,6,1941,42.0,Y
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977-78,2015-16,8,1977,78.0,Y
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959-60,2014-15,5,1959,60.0,Y
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,1,1,2004-05,2015-16,6,2004,5.0,N
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935-36,2010-11,5,1935,36.0,Y
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961-62,2009-10,5,1961,62.0,Y
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940-41,2007-08,11,1940,41.0,Y
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930-31,2016-17,6,1930,31.0,Y
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963-64,2015-16,6,1963,64.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943-44,1987-88,4,1943,44.0,Y
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977-78,2005-06,12,1977,78.0,Y
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,1987-88,1996-97,7,1987,88.0,N
34,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941-42,1990-91,4,1941,42.0,Y
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,1991-92,2004-05,7,1991,92.0,N
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,2007-08,2014-15,8,2007,8.0,N
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962-63,2014-15,5,1962,63.0,Y
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,1994-95,1997-98,10,1994,95.0,N
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978-79,2008-09,8,1978,79.0,Y
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971-72,1979-80,12,1971,72.0,Y
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963-64,1969-70,7,1963,64.0,Y
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,1999-00,2008-09,17,1999,0.0,N
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,2014-15,2014-15,10,2014,15.0,N
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,3,0,4,1929,1934-35,3,1929,NaN,N
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,1990-91,1992-93,9,1990,91.0,N
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947-48,2006-07,7,1947,48.0,Y
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,1996-97,1998-99,17,1996,97.0,N
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,1995-96,1997-98,19,1995,96.0,N
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945-46,1950-51,10,1945,46.0,Y
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953-54,1957-58,14,1953,54.0,Y
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,1,1,1929,1931-32,6,1929,NaN,N
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979-80,1980-81,10,1979,80.0,Y
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,1929,1930-31,8,1929,NaN,N
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950-51,1993-94,16,1950,51.0,Y
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,2016-17,2016-17,17,2016,17.0,N
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009-10,2009-10,20,2009,10.0,N
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956-57,1956-57,16,1956,57.0,Y
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951-52,1951-52,16,1951,52.0,Y
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955-56,1955-56,15,1955,56.0,Y
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017-18,2017-18,9,2017,18.0,N

In [12]:
# print all the teams with debut between 1930 and 1980
teams.loc[teams["Debut 1930-80"] == "Y"]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End,Debut 1930-80
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,32.0,Y
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934-35,2001-02,1,1934,35.0,Y
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939-40,2012-13,2,1939,40.0,Y
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932-33,2015-16,1,1932,33.0,Y
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941-42,2014-15,1,1941,42.0,Y
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939-40,2012-13,4,1939,40.0,Y
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948-49,2013-14,4,1948,49.0,Y
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944-45,2015-16,2,1944,45.0,Y
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935-36,2016-17,4,1935,36.0,Y
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949-50,2008-09,4,1949,50.0,Y
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933-34,2000-01,3,1933,34.0,Y
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960-61,2012-13,3,1960,61.0,Y
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951-52,2015-16,2,1951,52.0,Y
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941-42,2016-17,6,1941,42.0,Y
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977-78,2015-16,8,1977,78.0,Y
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959-60,2014-15,5,1959,60.0,Y
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935-36,2010-11,5,1935,36.0,Y
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961-62,2009-10,5,1961,62.0,Y
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940-41,2007-08,11,1940,41.0,Y
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930-31,2016-17,6,1930,31.0,Y
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963-64,2015-16,6,1963,64.0,Y
30,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,1974-75,1998-99,7,1974,75.0,Y
31,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943-44,1987-88,4,1943,44.0,Y
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977-78,2005-06,12,1977,78.0,Y
34,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941-42,1990-91,4,1941,42.0,Y
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962-63,2014-15,5,1962,63.0,Y
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978-79,2008-09,8,1978,79.0,Y
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971-72,1979-80,12,1971,72.0,Y
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963-64,1969-70,7,1963,64.0,Y
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947-48,2006-07,7,1947,48.0,Y
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945-46,1950-51,10,1945,46.0,Y
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953-54,1957-58,14,1953,54.0,Y
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979-80,1980-81,10,1979,80.0,Y
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950-51,1993-94,16,1950,51.0,Y
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956-57,1956-57,16,1956,57.0,Y
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951-52,1951-52,16,1951,52.0,Y
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955-56,1955-56,15,1955,56.0,Y

In [13]:
#List of teams which came Top 5 in terms of points
teams.sort_values(by="Points",ascending = False,inplace = True)

In [14]:
teams.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End,Debut 1930-80
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,NaN,N
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,NaN,N
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,1929,NaN,N
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,32.0,Y
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,NaN,N

In [15]:
# Function to return Goal Difference
def Goal_diff_count ():
    teams["Goal Diff"] = teams["GoalsFor"] - teams["GoalsAgainst"]
    return teams["Goal Diff"]

In [16]:
Goal_diff_count()

0     2807
1     2786
2     1225
3      929
4      931
5      307
6     -280
7       -2
8     -164
9     -333
10    -136
11    -346
12    -413
13    -525
14    -399
15    -334
16    -342
17    -309
18    -189
19    -399
20     103
21    -338
22    -328
23    -272
24    -113
25    -334
26    -125
27    -385
28    -165
29    -202
      ...
31    -228
32    -269
33    -198
34    -169
35     -90
36    -122
37    -145
38     -42
39     -94
40     -94
41     -56
42     -98
43     -28
44     -81
45     -38
46    -114
47     -55
48     -45
49    -107
50     -62
51     -31
52     -45
53     -34
54    -112
55     -19
56     -28
57     -20
58     -34
59     -31
60       0
Name: Goal Diff, Length: 61, dtype: int64

In [17]:
#Team with max goal diff
teams.loc[teams["Goal Diff"] == Goal_diff_count().max(),"Team"]

0    Real Madrid
Name: Team, dtype: object

In [18]:
#Team with min goal diff
teams.loc[teams["Goal Diff"] == Goal_diff_count().min(),"Team"]

13    Racing Santander
Name: Team, dtype: object

In [19]:
teams["Winning Percent"] = (teams["GamesWon"] / teams["GamesPlayed"])*100
teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End,Debut 1930-80,Goal Diff,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,4,79,1929,1929,1,1929,NaN,N,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,6,83,1929,1929,1,1929,NaN,N,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,6,56,1929,2002-03,1,1929,NaN,N,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,7,50,1931-32,1987-88,1,1931,32.0,Y,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,49,1929,1929,1,1929,NaN,N,931,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,6,32,1934-35,2001-02,1,1934,35.0,Y,307,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,16,1929,1994-95,3,1929,NaN,N,-280,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,19,1929,2010-11,1,1929,NaN,N,-2,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,18,1939-40,2012-13,2,1939,40.0,Y,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,4,14,1932-33,2015-16,1,1932,33.0,Y,-333,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,12,1941-42,2014-15,1,1941,42.0,Y,-136,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,5,11,1939-40,2012-13,4,1939,40.0,Y,-346,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,3,1948-49,2013-14,4,1948,49.0,Y,-413,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,5,1929,2011-12,2,1929,NaN,N,-525,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,7,1944-45,2015-16,2,1944,45.0,Y,-399,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,6,1935-36,2016-17,4,1935,36.0,Y,-334,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,2,1949-50,2008-09,4,1949,50.0,Y,-342,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,4,11,1933-34,2000-01,3,1933,34.0,Y,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,1,5,1960-61,2012-13,3,1960,61.0,Y,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,5,1951-52,2015-16,2,1951,52.0,Y,-399,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,2,9,1998-99,2013-14,2,1998,99.0,N,103,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,2,2,1941-42,2016-17,6,1941,42.0,Y,-338,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,1977-78,2015-16,8,1977,78.0,Y,-328,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,1,2,1959-60,2014-15,5,1959,60.0,Y,-272,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,1,1,2004-05,2015-16,6,2004,5.0,N,-113,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,4,5,1935-36,2010-11,5,1935,36.0,Y,-334,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,1961-62,2009-10,5,1961,62.0,Y,-125,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,1940-41,2007-08,11,1940,41.0,Y,-385,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,1,1,1930-31,2016-17,6,1930,31.0,Y,-165,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,1,1,1963-64,2015-16,6,1963,64.0,Y,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,2,1943-44,1987-88,4,1943,44.0,Y,-228,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,1977-78,2005-06,12,1977,78.0,Y,-269,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,1987-88,1996-97,7,1987,88.0,N,-198,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,3,1941-42,1990-91,4,1941,42.0,Y,-169,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,1991-92,2004-05,7,1991,92.0,N,-90,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,2007-08,2014-15,8,2007,8.0,N,-122,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,1962-63,2014-15,5,1962,63.0,Y,-145,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,1994-95,1997-98,10,1994,95.0,N,-42,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,1978-79,2008-09,8,1978,79.0,Y,-94,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,1971-72,1979-80,12,1971,72.0,Y,-94,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,1963-64,1969-70,7,1963,64.0,Y,-56,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,1999-00,2008-09,17,1999,0.0,N,-98,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,2014-15,2014-15,10,2014,15.0,N,-28,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,4,1929,1934-35,3,1929,NaN,N,-81,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,1990-91,1992-93,9,1990,91.0,N,-38,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,1947-48,2006-07,7,1947,48.0,Y,-114,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,1996-97,1998-99,17,1996,97.0,N,-55,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,1995-96,1997-98,19,1995,96.0,N,-45,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,1945-46,1950-51,10,1945,46.0,Y,-107,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,1953-54,1957-58,14,1953,54.0,Y,-62,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,1,1,1929,1931-32,6,1929,NaN,N,-31,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,1979-80,1980-81,10,1979,80.0,Y,-45,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,1929,1930-31,8,1929,NaN,N,-34,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,1950-51,1993-94,16,1950,51.0,Y,-112,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,2016-17,2016-17,17,2016,17.0,N,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,2009-10,2009-10,20,2009,10.0,N,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,1956-57,1956-57,16,1956,57.0,Y,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,1951-52,1951-52,16,1951,52.0,Y,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,1955-56,1955-56,15,1955,56.0,Y,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,2017-18,2017-18,9,2017,18.0,N,0,NaN

In [20]:
# Replacing numerical errors with 0
teams.fillna(0,inplace=True)

In [21]:
teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End,Debut 1930-80,Goal Diff,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,4,79,1929,1929,1,1929,0.0,N,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,6,83,1929,1929,1,1929,0.0,N,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,6,56,1929,2002-03,1,1929,0.0,N,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,7,50,1931-32,1987-88,1,1931,32.0,Y,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,49,1929,1929,1,1929,0.0,N,931,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,6,32,1934-35,2001-02,1,1934,35.0,Y,307,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,16,1929,1994-95,3,1929,0.0,N,-280,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,19,1929,2010-11,1,1929,0.0,N,-2,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,18,1939-40,2012-13,2,1939,40.0,Y,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,4,14,1932-33,2015-16,1,1932,33.0,Y,-333,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,12,1941-42,2014-15,1,1941,42.0,Y,-136,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,5,11,1939-40,2012-13,4,1939,40.0,Y,-346,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,3,1948-49,2013-14,4,1948,49.0,Y,-413,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,5,1929,2011-12,2,1929,0.0,N,-525,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,7,1944-45,2015-16,2,1944,45.0,Y,-399,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,6,1935-36,2016-17,4,1935,36.0,Y,-334,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,2,1949-50,2008-09,4,1949,50.0,Y,-342,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,4,11,1933-34,2000-01,3,1933,34.0,Y,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,1,5,1960-61,2012-13,3,1960,61.0,Y,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,5,1951-52,2015-16,2,1951,52.0,Y,-399,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,2,9,1998-99,2013-14,2,1998,99.0,N,103,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,2,2,1941-42,2016-17,6,1941,42.0,Y,-338,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,1977-78,2015-16,8,1977,78.0,Y,-328,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,1,2,1959-60,2014-15,5,1959,60.0,Y,-272,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,1,1,2004-05,2015-16,6,2004,5.0,N,-113,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,4,5,1935-36,2010-11,5,1935,36.0,Y,-334,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,1961-62,2009-10,5,1961,62.0,Y,-125,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,1940-41,2007-08,11,1940,41.0,Y,-385,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,1,1,1930-31,2016-17,6,1930,31.0,Y,-165,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,1,1,1963-64,2015-16,6,1963,64.0,Y,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,2,1943-44,1987-88,4,1943,44.0,Y,-228,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,1977-78,2005-06,12,1977,78.0,Y,-269,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,1987-88,1996-97,7,1987,88.0,N,-198,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,3,1941-42,1990-91,4,1941,42.0,Y,-169,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,1991-92,2004-05,7,1991,92.0,N,-90,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,2007-08,2014-15,8,2007,8.0,N,-122,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,1962-63,2014-15,5,1962,63.0,Y,-145,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,1994-95,1997-98,10,1994,95.0,N,-42,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,1978-79,2008-09,8,1978,79.0,Y,-94,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,1971-72,1979-80,12,1971,72.0,Y,-94,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,1963-64,1969-70,7,1963,64.0,Y,-56,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,1999-00,2008-09,17,1999,0.0,N,-98,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,2014-15,2014-15,10,2014,15.0,N,-28,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,4,1929,1934-35,3,1929,0.0,N,-81,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,1990-91,1992-93,9,1990,91.0,N,-38,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,1947-48,2006-07,7,1947,48.0,Y,-114,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,1996-97,1998-99,17,1996,97.0,N,-55,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,1995-96,1997-98,19,1995,96.0,N,-45,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,1945-46,1950-51,10,1945,46.0,Y,-107,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,1953-54,1957-58,14,1953,54.0,Y,-62,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,1,1,1929,1931-32,6,1929,0.0,N,-31,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,1979-80,1980-81,10,1979,80.0,Y,-45,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,1929,1930-31,8,1929,0.0,N,-34,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,1950-51,1993-94,16,1950,51.0,Y,-112,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,2016-17,2016-17,17,2016,17.0,N,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,2009-10,2009-10,20,2009,10.0,N,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,1956-57,1956-57,16,1956,57.0,Y,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,1951-52,1951-52,16,1951,52.0,Y,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,1955-56,1955-56,15,1955,56.0,Y,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,2017-18,2017-18,9,2017,18.0,N,0,0.000000

In [22]:
teams.sort_values(by="Winning Percent",ascending=False)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End,Debut 1930-80,Goal Diff,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,4,79,1929,1929,1,1929,0.0,N,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,6,83,1929,1929,1,1929,0.0,N,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,6,56,1929,2002-03,1,1929,0.0,N,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,7,50,1931-32,1987-88,1,1931,32.0,Y,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,49,1929,1929,1,1929,0.0,N,931,43.772629
20,21,Villarreal,17,970,646,266,172,208,892,789,...,2,9,1998-99,2013-14,2,1998,99.0,N,103,41.176471
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,6,32,1934-35,2001-02,1,1934,35.0,Y,307,41.112957
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,19,1929,2010-11,1,1929,0.0,N,-2,37.532580
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,12,1941-42,2014-15,1,1941,42.0,Y,-136,36.797386
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,16,1929,1994-95,3,1929,0.0,N,-280,36.100533
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,18,1939-40,2012-13,2,1939,40.0,Y,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,4,14,1932-33,2015-16,1,1932,33.0,Y,-333,35.069444
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,5,11,1939-40,2012-13,4,1939,40.0,Y,-346,34.511190
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,4,11,1933-34,2000-01,3,1933,34.0,Y,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,1,5,1960-61,2012-13,3,1960,61.0,Y,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,5,1951-52,2015-16,2,1951,52.0,Y,-399,33.485401
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,1929,1930-31,8,1929,0.0,N,-34,33.333333
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,4,1929,1934-35,3,1929,0.0,N,-81,33.076923
28,29,Alaves,12,421,380,125,81,174,458,623,...,1,1,1930-31,2016-17,6,1930,31.0,Y,-165,32.894737
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,1994-95,1997-98,10,1994,95.0,N,-42,32.500000
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,6,1935-36,2016-17,4,1935,36.0,Y,-334,32.321700
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,7,1944-45,2015-16,2,1944,45.0,Y,-399,32.304527
24,25,Getafe,12,553,456,147,112,197,520,633,...,1,1,2004-05,2015-16,6,2004,5.0,N,-113,32.236842
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,1953-54,1957-58,14,1953,54.0,Y,-62,32.222222
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,5,1929,2011-12,2,1929,0.0,N,-525,31.722689
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,3,1948-49,2013-14,4,1948,49.0,Y,-413,31.582538
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,1961-62,2009-10,5,1961,62.0,Y,-125,31.376518
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,2,1949-50,2008-09,4,1949,50.0,Y,-342,31.075697
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,3,1941-42,1990-91,4,1941,42.0,Y,-169,30.838323
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,2014-15,2014-15,10,2014,15.0,N,-28,30.701754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,24,Elche,21,606,678,203,180,295,750,1022,...,1,2,1959-60,2014-15,5,1959,60.0,Y,-272,29.941003
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,1963-64,1969-70,7,1963,64.0,Y,-56,29.444444
21,22,Granada,23,667,742,218,175,349,819,1157,...,2,2,1941-42,2016-17,6,1941,42.0,Y,-338,29.380054
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,1947-48,2006-07,7,1947,48.0,Y,-114,29.310345
25,26,Hercules,20,538,628,184,149,295,716,1050,...,4,5,1935-36,2010-11,5,1935,36.0,Y,-334,29.299363
51,52,Real Union,4,56,72,21,14,37,153,184,...,1,1,1929,1931-32,6,1929,0.0,N,-31,29.166667
30,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,1974-75,1998-99,7,1974,75.0,Y,-159,29.078014
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,1962-63,2014-15,5,1962,63.0,Y,-145,29.078014
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,1977-78,2015-16,8,1977,78.0,Y,-328,28.987730
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,1971-72,1979-80,12,1971,72.0,Y,-94,28.921569
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,1991-92,2004-05,7,1991,92.0,N,-90,28.148148
29,30,Levante,11,416,402,113,95,194,430,632,...,1,1,1963-64,2015-16,6,1963,64.0,Y,-202,28.109453
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,1945-46,1950-51,10,1945,46.0,Y,-107,27.777778
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,1987-88,1996-97,7,1987,88.0,N,-198,27.745665
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,2007-08,2014-15,8,2007,8.0,N,-122,27.192982
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,1978-79,2008-09,8,1978,79.0,Y,-94,26.881720
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,1979-80,1980-81,10,1979,80.0,Y,-45,25.000000
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,1996-97,1998-99,17,1996,97.0,N,-55,25.000000
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,1940-41,2007-08,11,1940,41.0,Y,-385,24.744027
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,1999-00,2008-09,17,1999,0.0,N,-98,24.342105
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,1995-96,1997-98,19,1995,96.0,N,-45,23.750000
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,1956-57,1956-57,16,1956,57.0,Y,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,1951-52,1951-52,16,1951,52.0,Y,-34,23.333333
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,1977-78,2005-06,12,1977,78.0,Y,-269,23.214286
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,1990-91,1992-93,9,1990,91.0,N,-38,22.807018
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,2016-17,2016-17,17,2016,17.0,N,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,2009-10,2009-10,20,2009,10.0,N,-28,21.052632
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,1950-51,1993-94,16,1950,51.0,Y,-112,19.117647
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,1955-56,1955-56,15,1955,56.0,Y,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,2017-18,2017-18,9,2017,18.0,N,0,0.000000

In [23]:
# top 5 teams which has the highest Winning percentage
teams.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End,Debut 1930-80,Goal Diff,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,4,79,1929,1929,1,1929,0.0,N,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,6,83,1929,1929,1,1929,0.0,N,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,6,56,1929,2002-03,1,1929,0.0,N,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,7,50,1931-32,1987-88,1,1931,32.0,Y,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,49,1929,1929,1,1929,0.0,N,931,43.772629

In [24]:
# Aggregate of all positions grouped by Best Position
teams.groupby("BestPosition")["T"].sum()

BestPosition
1     394
2      44
3      36
4      27
5      10
6       6
7       0
8       0
9       0
10      0
11      0
12      0
14      0
15      0
16      0
17      0
19      0
20      0
Name: T, dtype: int64